@import "../../../styles/global-var.styl"

.spin {
    background: $grey-3;
    border-radius: 8px;
    height: 196px !important;
}
:global(.ant-spin-text) {
    color: #85888C;
    font-size: 12px;
    padding-top: 8px;
}
